.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start-btn {
  font-size: large;
  font-weight: 300;
}

.next-btn {
  padding: 8px 12px;
  margin: 10px;
  border-radius: 8px;
}

.error-text {
  color: red;
}

/* Traffic Light UI-CSS */
.traffic-board-h {
  padding: 32px 6px;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
}

.traffic-board-v {
  padding: 6px 32px;
  background-color: black;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.circle {
  padding: 24px;
  border-radius: 50%;
  background-color: gray;
}
